.vscode/
*.py[cod]
*.egg-info
__pycache__
dist/
*.pyc
.venv/
task_manager/__pycache__/
.coveragerc
.coverage
coverage.lcov
reports
.qlty/
coverage.xml
htmlcov/
*.xml
.pytest_cache/
upload
.python_version
.env
staticfiles/
.ruff_cache
db.sqlite3