{% extends 'layout.html' %}
{% block content %}
  <div class="container">
    <h1 class="mt-4">Метки</h1>
    <a href="{% url 'label_create' %}" class="btn btn-primary mb-3">Создать метку</a>
    
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Дата создания</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for label in labels %}
          <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
              <a href="{% url 'label_update' label.pk %}" class="btn btn-sm btn-link">Изменить</a>
              <br>
              <a href="{% url 'label_delete' label.pk %}" class="btn btn-sm btn-link">Удалить</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
